/* Estilos para el contenedor principal .home */
.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  min-height: 100vh;
  background-color: #1a1a1a; /* Fondo oscuro para contraste */
}

/* Estructura de contenido */
.home__content {
  max-width: 600px;
}

/* Estructura de la imagen */
.home__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Estilos para el título */
.home__title {
  font-size: 48px;
  color: #FFF;
  margin-bottom: 20px;
  line-height: 1.2;
  text-align: left;
}

.home__description {
  color: #FFF;
  font-size: 18px;
  margin-bottom: 30px;
}

.button {
  background-color: #25D366;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
}

.button i {
  margin-right: 8px;
}

.home__gif {
  max-width: 100%;
  height: auto;
  width: 300px; /* Ajustar tamaño */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .home {
    flex-direction: column-reverse; /* Cambiar el orden en dispositivos pequeños */
    padding: 40px 20px;
  }

  .home__title {
    font-size: 32px; /* Reducir el tamaño del título en pantallas pequeñas */
    text-align: center;
  }

  .home__description {
    font-size: 16px; /* Ajustar tamaño de la fuente en responsive */
    text-align: center;
  }

  .home__image-container {
    margin-bottom: 20px;
  }

  .home__gif {
    width: 200px; /* Ajustar el tamaño del logo para móviles */
  }
}
