/* Estilos para el contenedor principal .home */
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 80px;
  min-height: 100vh;
}

.home__title {
  font-size: 50px;
  color: #FFF;
  margin-block: 40px;
}

.home__description {
  color: #FFF;
  font-size: 18px;
  margin-bottom: 40px;
}

.home__button {
  font-size: 20px;
  padding: 1rem 1.8rem;
}

.home__gif {
  width: 300px;
  margin-left: 150px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .home {
    grid-template-columns: 1fr; /* Cambiar a una columna en responsive */
    padding: 40px 20px;
  }

  .home__title {
    font-size: 36px;
  }

  .home__description {
    font-size: 16px; /* Ajustar tamaño de la fuente en responsive */
  }

  .home__button {
    font-size: 18px;
  }

  /* Mostrar el GIF encima del título */
  .home__gif {
    
    display: block; /* Aseguramos que esté visible en responsive */
    width: 150px; /* Tamaño ajustado para pantallas pequeñas */
    margin: 100px auto 20px auto; /* Centrar el GIF con margen inferior */
    order: -1; /* Mover el GIF antes del título */
  }
}
