.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.home__title {
  font-size: 60px;
  color: #FFF;
  margin-block: 40px;
}

.home__description {
  color: #FFF;
  font-size: 20px;
  margin-bottom: 30px;
}

.home__button {
  font-size: 20px;
  padding: 1rem 1.8rem;
}