@import './fonts/index.fonts.css';
@import './normalize.css';
@import './background.css';
@import './header.css';
@import './button.css';
@import './home.css';
@import './solutions.css';
@import './products.css';
@import './marketing.css';
@import './about.css';
@import './footer.css';
@import './testimonials.css';
@import './team.css';
@import './technologies.css';
html {
  font-family: 'Poppins', sans-serif;
  background-color: #0E1A31;
}

.container {
  max-width: 1250px;
  padding: 10px;
  margin: 0 auto;
}

.title {
  color: #FFF;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

/* Scroll-to-Top Button Styles */
.scroll-to-top {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 10px;
  right: 40px;
  z-index: 99; /* Stay on top of other elements */
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background: linear-gradient(135deg, #ff3366, #33ccff); /* Gradient background */
  color: white;
  border-radius: 50%; /* Round button */
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  font-size: 24px;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scroll-to-Top Button Styles */
.scroll-to-top {
  display: none; /* Hide by default */
  position: fixed;
  bottom: 23px;
  right: 20px;
  z-index: 1000;
  background-color: #1da1f2;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top i {
  font-size: 1.5rem;
}

.scroll-to-top:hover {
  background-color: #0d74b1;
}


@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}


