@import './fonts/index.fonts.css';
@import './normalize.css';
@import './background.css';
@import './header.css';
@import './button.css';
@import './home.css';
@import './solutions.css';
@import './about.css';
@import './footer.css';
@import './testimonials.css';

html {
  font-family: 'Poppins', sans-serif;
  background-color: #0E1A31;
}

.container {
  max-width: 1250px;
  padding: 10px;
  margin: 0 auto;
}

.title {
  color: #FFF;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}